<p>
  <strong>Restaurant:</strong>
  <%= @restaurant.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Full Address:</strong>
  <%= @restaurant.full_address %>
</p>
 
<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Restaurant Image:</strong><br>
  <%= image_tag @restaurant.image_url.to_s, :size => '400x300' %>
</p>
<%= link_to 'Back', restaurants_path %> 
<% if @restaurant.owner == current_owner %>
| <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<% end %>